<div class="container">
    <mat-card class="card" #card *ngIf="_turno">
        
        @switch(_turno.estado){
            @case ('pendiente') {
                <div class="buttons">
                    <button mat-mini-fab color="warn" (click)="accion = 'cancelado' " matTooltip="rechazar _turno">
                    <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary"  *ngIf="usuario.tipoUsuario == 'especialista'" (click)="accion = 'aceptado'" matTooltip="aceptar _turno">
                    <mat-icon>check_circle</mat-icon>
                    </button>
                </div>
            }
            @case('aceptado'){
                <div class="buttons" *ngIf="usuario.tipoUsuario != 'admin'">
                    <button mat-mini-fab color="warn" (click)="accion = 'cancelado'" matTooltip="cancelar _turno">
                    <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" *ngIf="usuario.tipoUsuario == 'especialista'" (click)="accion = 'finalizado'" matTooltip="finalizar _turno">
                        <mat-icon>verified</mat-icon>
                    </button>
                </div>
            }
            @case('cancelado'){
                @if (_turno.comentarioPaciente != '') {
                <mat-card-header> 
                    <h2>
                        El paciente {{_turno.paciente}} canceló por lo siguiente 
                    </h2>
                </mat-card-header>
                <mat-form-field class="comentario">
                    <mat-label>Comentario de {{_turno.paciente}}</mat-label>
                    <textarea matInput placeholder="Dejanos un comentario" [(ngModel)]="_turno.comentarioPaciente" class="non-resizable" readonly>
                    </textarea>
                </mat-form-field>
                }@else {
                    <mat-card-header> 
                        <h2>
                            El especialista {{_turno.especialista}} canceló por lo siguiente 
                        </h2>
                    </mat-card-header>
                    <mat-form-field class="comentario">
                        <mat-label>Comentario a {{_turno.paciente}}</mat-label>
                        <textarea matInput placeholder="Dejanos un comentario" [(ngModel)]="_turno.comentarioEspecialista" class="non-resizable" readonly></textarea>
                    </mat-form-field>
                }
            }
            @case('rechazado'){
                @if (_turno.comentarioPaciente != '') {
                <mat-card-header> 
                    <h2>
                        El paciente {{_turno.paciente}} canceló por lo siguiente 
                    </h2>
                </mat-card-header>
                <mat-form-field class="comentario">
                    <mat-label>Comentario de {{_turno.paciente}}</mat-label>
                    <textarea matInput placeholder="Dejanos un comentario" [(ngModel)]="_turno.comentarioPaciente" class="non-resizable" readonly>
                    </textarea>
                </mat-form-field>
                }@else {
                    <mat-card-header> 
                        <h2>
                            El especialista {{_turno.especialista}} canceló por lo siguiente 
                        </h2>
                    </mat-card-header>
                    <mat-form-field class="comentario">
                        <mat-label>Comentario a {{_turno.paciente}}</mat-label>
                        <textarea matInput placeholder="Dejanos un comentario" [(ngModel)]="_turno.comentarioEspecialista" class="non-resizable" readonly></textarea>
                    </mat-form-field>
                }
            }
            @case('finalizado'){
                <mat-card-header> 
                    <h2>
                        comentario del especialista {{_turno.especialista}}
                    </h2>
                </mat-card-header>
                <mat-form-field class="comentario">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput placeholder="Dejanos un comentario" [(ngModel)]="_turno.comentarioEspecialista" class="non-resizable" readonly>
                    </textarea>
                </mat-form-field>
            }
        }
        @if(accionesEstado['cancelado'] || accionesEstado['rechazado']){
            <mat-card-header> Por que desea cancelar el turno? </mat-card-header>    
            <mat-form-field class="comentario">
                <mat-label>Debe dejarle un comentario a {{_turno!.especialista}}</mat-label>
                <textarea matInput placeholder="Que paso....?" [(ngModel)]="comentario"></textarea>
            </mat-form-field>
            <mat-card-actions>
                @if(accionesEstado['cancelado']){
                    <button mat-stroked-button (click)="actualizarTurno('cancelado',comentario)" [disabled]="comentario == ''">Cancelar turno</button>    
                }
                @if (accionesEstado['rechazado']) {
                    <button mat-stroked-button (click)="actualizarTurno('rechazado',comentario)" [disabled]="comentario == ''">Cancelar turno</button>
                }
            </mat-card-actions>
        }
        
        @if(accionesEstado['finalizado']){
            <form [formGroup]="frmHistoriaClinica" id="historiaClinica" (submit)="subirHistoriaClinica()" preventDefault>
                <mat-card-header> 
                    Historia clinica
                </mat-card-header>

                <div class="datosFijos">
                    <mat-form-field class="number">
                    <mat-label> Altura en m</mat-label>
                    <input matInput type="number" formControlName="altura" 
                    [value]="frmHistoriaClinica.controls['altura'].value" required>
                    </mat-form-field>          
                    <mat-form-field class="number">
                    <mat-label> Peso en Kg</mat-label>
                    <input matInput type="number" formControlName="peso" required>
                    </mat-form-field>
                    <mat-form-field class="number">
                    <mat-label> Temperatura en °C</mat-label>
                    <input matInput type="number"  formControlName="temperatura" required>
                    </mat-form-field>
                    <mat-form-field class="number">
                    <mat-label> Presión en mm</mat-label>
                    <input matInput type="number" formControlName="presion" required>
                    </mat-form-field>
                </div>
                
                <mat-form-field class="comentario">
                    <mat-label>comentario sobre el _turno de {{_turno.paciente}}</mat-label>
                    <textarea matInput placeholder="Dejanos un comentario" formControlName="comentario" required></textarea>
                    @if (frmHistoriaClinica.controls['comentario'].dirty && frmHistoriaClinica.controls['comentario'].errors) {
                    @if (frmHistoriaClinica.controls['comentario'].errors['minlength']) {
                        <mat-error>
                            <span>{{frmHistoriaClinica.controls['comentario'].value.length}}/300</span><br>
                            <small>la cantidad minima de caracteres es de 20</small>
                        </mat-error>
                    }
                    @if (frmHistoriaClinica.controls['comentario'].errors['maxlength']) {
                        <mat-error>
                            <span>{{frmHistoriaClinica.controls['comentario'].value.length}}/300</span>
                        </mat-error>
                    }
                    }@else {
                    <span>{{frmHistoriaClinica.controls['comentario'].value.length}}/300</span>
                    }
                </mat-form-field>

                @for (dato of datosDinamicos; track $index) {
                    @if (dato.disponible) {
                    <div class="datos-dinamicos" [formGroup]="dato.frm!">
                        <mat-form-field>
                        <mat-label> Identificador </mat-label>
                        <input matInput formControlName = 'clave' required>
                        </mat-form-field>  
                        <mat-form-field>
                        <mat-label> Campo </mat-label>
                        <input matInput formControlName = 'campo' required>
                        </mat-form-field>
                    </div>
                    }
                }
                <div class="datos-dinamicos-buttones">
                    <button mat-mini-fab type="button" color="primary" (click)="delDato()">
                    <mat-icon class="add-course-btn">remove</mat-icon>
                    </button>
                    <button mat-mini-fab type="button" color="primary" (click)="addDato()">
                    <mat-icon class="add-course-btn">add</mat-icon>
                    </button>
                </div>
                    
                <mat-card-actions>
                    <button mat-stroked-button
                    [disabled]="frmHistoriaClinica.invalid" type="submit">enviar</button>
                </mat-card-actions>
                <!-- (click)="subirHistoriaClinica()" -->
            </form>
        }
    </mat-card>
</div>