#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #tablas{
    
  .table-container{
    height: 40vh;
    overflow: auto;
    overflow-x: hidden;
    margin: 3rem 0;
      .tabla{
        height: 100%;
      }
    }
  }
}
