<div id="content">
  
  <div id="tablas">
    @if (ELEMENT_DATA_especialista.length > 0) {
    <h2>Especialistas</h2>
    
    <div class="table-container">
      <table
        mat-table
        [dataSource]="ELEMENT_DATA_especialista"
        class="mat-elevation-z8 demo-table tabla"
      >
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef>foto</th>
          <td mat-cell *matCellDef="let element">
            <mat-card>
              <img
              mat-card-avatar
              alt="imagen de avatar"
              [src]="element.fotoUrl[0]"/>
            </mat-card>
          </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>
        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>
        <ng-container matColumnDef="Edad">
          <th mat-header-cell *matHeaderCellDef>Edad</th>
          <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
        </ng-container>
        <ng-container matColumnDef="Dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
        </ng-container>
        <ng-container matColumnDef="Autorizado">
          <th mat-header-cell *matHeaderCellDef>Autorizado</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              labelPosition="before"
              [checked]="element.autorizado"
              (change)="autorizar($event, element)"
            >
            </mat-slide-toggle>
          </td>
        </ng-container>
        <ng-container matColumnDef="Especialidad">
          <th mat-header-cell *matHeaderCellDef>Especialidad</th>
          <td mat-cell *matCellDef="let element">
            @for (especialidad of element.especialidades; track $index) {
              <ul>
                <li>
                  {{especialidad}}
                </li>
              </ul>
            }
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEspecialista ; sticky:true"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsEspecialista"
        ></tr>
      </table>
    </div>
    }@else {
      <mat-spinner></mat-spinner>
    } @if (ELEMENT_DATA_paciente.length > 0) {
    <h2>Pacientes</h2>
    <div class="table-container">
      <table
        mat-table
        [dataSource]="ELEMENT_DATA_paciente"
        class="mat-elevation-z8 demo-table tabla"
      >
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>foto</th>
        <td mat-cell *matCellDef="let element">
          <mat-card>
            <img
            mat-card-avatar
            alt="imagen de avatar"
            [src]="element.fotoUrl[0]"/>
          </mat-card>
        </td>
      </ng-container>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>
        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>
        <ng-container matColumnDef="Edad">
          <th mat-header-cell *matHeaderCellDef>Edad</th>
          <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
        </ng-container>
        <ng-container matColumnDef="Dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
        </ng-container>
        <ng-container matColumnDef="Obra social">
          <th mat-header-cell *matHeaderCellDef>Obra social</th>
          <td mat-cell *matCellDef="let element">{{ element.obraSocial }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPaciente ; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPaciente"></tr>
      </table>
    </div>
    }@else {
      <mat-spinner></mat-spinner>
    }
    @if (ELEMENT_DATA_admin.length > 0) {
    <h2>Admins</h2>
    <div class="table-container">
      <table
        mat-table
        [dataSource]="ELEMENT_DATA_admin"
        class="mat-elevation-z8 demo-table tabla"
      >
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef>foto</th>
          <td mat-cell *matCellDef="let element">
            <mat-card>
              <img
              mat-card-avatar
              alt="imagen de avatar"
              [src]="element.fotoUrl[0]"/>
            </mat-card>
          </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>
        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>
        <ng-container matColumnDef="Edad">
          <th mat-header-cell *matHeaderCellDef>Edad</th>
          <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
        </ng-container>
        <ng-container matColumnDef="Dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmin; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin"></tr>
      </table>
    </div>
    }@else {
      <mat-spinner></mat-spinner>
    }
  </div>
  <div id="app-registro-container">
    <app-registro [admin]="true"></app-registro>
  </div>

  <div id="especialidades">
    <div id="spinner" *ngIf="cargando">
      <mat-spinner></mat-spinner>
    </div>

    @for (especialidad of especialidades; track $index) {
      <mat-card *ngIf="!cargando">
        <mat-card-header>
          <h2>{{especialidad.nombre}}</h2>
        </mat-card-header>
        <mat-card-content>
          <img [src]="especialidad.fotoUrl">
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button
            type="button"
            mat-raised-button
            class="btnPic"
            (click)="perfilInput.click()"
          >
            Cambiar Foto
          </button>
          <input
            id="inputPerfilPic"
            hidden
            (change)="cambiarFoto($event, especialidad)"
            #perfilInput
            type="file"
            formControlName="fotoPerfil"
            accept="image/png,image/PNG,image/jpg,image/jpeg"
          />
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    }
  </div>
</div>
