.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #spinner {
      position: absolute;
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      z-index: 2;
      backdrop-filter: blur(5px);
    }
  
    .card {
      width: 30vw;
      margin: 0;
      width: 100%;
      margin: 1rem;
      
      .non-resizable{
        resize: none;
      }
      #encuesta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .turnoInfo{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 80%;
          height: 100%;
        }
        .comentario{
          width: 80%;
        }
        .slider-container{
          margin: 1.5rem;
        }
      }
    }
  }
  