@if (categoria == 'paciente') {
<form [formGroup]="frmDatosEspecificosPaciente">
  @if(optionsObraSocial.length > 0){
  <mat-form-field id="buscador" class="example-full-width">
    <mat-label>Obras sociales</mat-label>

    <input
      type="text"
      matInput
      formControlName="obraSocial"
      [matAutocomplete]="auto"
      name="busqueda"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredObrasSociales | async; track option) {
      <mat-option [value]="option">{{ option.nombre }}</mat-option>
      }
    </mat-autocomplete>

    @if (frmDatosEspecificosPaciente.controls['obraSocial'].dirty &&
    frmDatosEspecificosPaciente.controls['obraSocial'].errors) { @if
    (frmDatosEspecificosPaciente.controls['obraSocial'].errors!['required']) {
      <mat-error>{{ errrorCampoObligatorio }}</mat-error>
    } }
  </mat-form-field>
  }
  <button
    type="button"
    mat-raised-button
    class="btnPic"
    (click)="avatarInput.click()"
  >
    Elija una foto para su avatar
  </button>
  <input
    id="inputAvatarPic"
    hidden
    (change)="onAvatarSelected($event)"
    #avatarInput
    type="file"
    formControlName="fotoAvatar"
    accept="image/png,image/PNG,image/jpg,image/jpeg"
    (cancel)="avatarPicCanceled()"
  />
  @if (frmDatosEspecificosPaciente.controls['fotoAvatar'].dirty &&
  frmDatosEspecificosPaciente.controls['fotoAvatar'].invalid) {
  <mat-error>{{ errrorCampoObligatorio }}</mat-error>
  }
  <button
    type="button"
    mat-raised-button
    class="btnPic"
    (click)="perfilInput.click()"
  >
    Elija una foto de perfil
  </button>
  <input
    id="inputPerfilPic"
    hidden
    (change)="onPerfilSelected($event)"
    #perfilInput
    type="file"
    formControlName="fotoPerfil"
    accept="image/png,image/PNG,image/jpg,image/jpeg"
    (cancel)="perfilPicCanceled()"
  />
  @if (frmDatosEspecificosPaciente.controls['fotoPerfil'].dirty &&
  frmDatosEspecificosPaciente.controls['fotoPerfil'].invalid) {
  <mat-error>{{ errrorCampoObligatorio }}</mat-error>
  }
  <div class="buttons">
    <button
      mat-raised-button
      matStepperPrevious
      type="button"
      (click)="anterior()"
    >
      Anterior
    </button>
    <button
      mat-raised-button
      matStepperNext
      color="accent"
      (click)="siguiente()"
      [disabled]="frmDatosEspecificosPaciente.invalid"
    >
      Terminar
    </button>
  </div>
</form>
}@else if(categoria == 'especialista'){
<form [formGroup]="frmDatosEspecificosEspecialista">
    <!-- @if(optionsEspecialidad.length > 0){ -->

    <mat-form-field class="example-chip-list">
      <mat-label>Especialidad</mat-label>
      <mat-chip-grid #chipGrid aria-label="Fruit selection">
        @for (especialidad of especialidades(); track $index) {
          <mat-chip-row (removed)="remove(especialidad)">
            {{especialidad}}
            <button matChipRemove [attr.aria-label]="'remove ' + especialidad">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        name="busqueda"
        placeholder="especialidad..."
        formControlName="especialidades"
        #fruitInput
        [(ngModel)]="currentEspecialidad"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
        @for (option of filteredEspecialidades | async; track option) {
        <mat-option [value]="option">{{ option.nombre }}</mat-option>
        }
      </mat-autocomplete>
      @if
      (frmDatosEspecificosEspecialista.controls['especialidades'].dirty && frmDatosEspecificosEspecialista.controls['especialidades'].errors) { 
        @if
        (frmDatosEspecificosEspecialista.controls['especialidades'].errors!['required']) {
          <mat-error>{{ errrorCampoObligatorio }}</mat-error>
        }  
      }
    </mat-form-field>
  
  <button
    type="button"
    mat-raised-button
    class="btnPic"
    (click)="perfilInput.click()"
  >
    Elija una foto de perfil
  </button>
  <input
    id="inputPerfilPic"
    hidden
    (change)="onPerfilSelected($event)"
    #perfilInput
    type="file"
    formControlName="fotoPerfil"
    accept="image/png,image/PNG,image/jpg,image/jpeg"
    (cancel)="perfilPicCanceled()"
  />
  @if (frmDatosEspecificosEspecialista.controls['fotoPerfil'].dirty &&
  frmDatosEspecificosEspecialista.controls['fotoPerfil'].invalid) {
  <mat-error>{{ errrorCampoObligatorio }}</mat-error>
  }
  <div class="buttons">
    <button
      mat-raised-button
      matStepperPrevious
      type="button"
      (click)="anterior()"
    >
      Anterior
    </button>
    <button
      mat-raised-button
      matStepperNext
      color="accent"
      (click)="siguiente()"
      [disabled]="frmDatosEspecificosEspecialista.invalid"
    >
      Terminar
    </button>
  </div>
</form>
}@else {
  <form [formGroup]="frmDatosEspecificosAdmin">
    <button
      type="button"
      mat-raised-button
      class="btnPic"
      (click)="perfilInput.click()"
    >
      Elija una foto de perfil
    </button>
    <input
      id="inputPerfilPic"
      hidden
      (change)="onPerfilSelected($event)"
      #perfilInput
      type="file"
      formControlName="fotoPerfil"
      accept="image/png,image/PNG,image/jpg,image/jpeg"
      (cancel)="perfilPicCanceled()"
    />
    @if (frmDatosEspecificosAdmin.controls['fotoPerfil'].dirty &&
    frmDatosEspecificosAdmin.controls['fotoPerfil'].invalid) {
    <mat-error>{{ errrorCampoObligatorio }}</mat-error>
    }
    <div class="buttons">
      <button
        mat-raised-button
        matStepperPrevious
        type="button"
        (click)="anterior()"
      >
        Anterior
      </button>
      <button
        mat-raised-button
        matStepperNext
        color="accent"
        (click)="siguiente()"
        [disabled]="frmDatosEspecificosAdmin.invalid"
      >
        Terminar
      </button>
    </div>
  </form>
}
