form {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .input-pair-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    mat-form-field {
      width: 40%;
    }
  }
  .input-pair-container:first-child {
    margin-top: 0.5rem;
  }
  #input-email {
    mat-form-field {
      width: 87%;
    }
  }
  .btnPic {
    display: flex;
    align-self: center;
    margin: 1rem 0;
    width: 87%;
  }
  #buscador {
    margin-top: 0.5rem;
  }
  mat-error {
    display: flex;
    align-self: center;
  }
}
#card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .card {
    align-self: center;
    max-width: 300px;
    margin: 1rem 0;
    mat-card-header {
      align-self: center;
    }
    #fotoPerfil {
      width: 300px;
    }
  }
}
