<div class="container">
    
    <form [formGroup]="frmTurno">

        @if(especialidades.length > 0){

            <mat-form-field class="full-width buscador">
                <mat-label>Especialidad</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="especialidad"
                  name="busqueda"
                />

            </mat-form-field>

            <mat-form-field class="full-width buscador">
            <mat-label>Especialista</mat-label>
              <input
              type="text"
              matInput
              formControlName="especialista"
              name="busqueda"/>
              
              
            </mat-form-field>
        }

    </form>
</div>