.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    overflow: auto;
    #spinner {
      position: absolute;
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      z-index: 3;
      backdrop-filter: blur(5px);
    }
    .sticky-header{
      position: sticky;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      z-index: 2;
      width: 95%;
      height: 20vh;
      background-color: #f4effb;
      button, form{
        width: 40vw1;
        margin: .5rem 0;
      }
    }
    table {
      box-shadow: none;
      border-bottom: solid 1px black;
      border-top: solid 1px black;
    }
    .input-autocomplete{
      width: 30vw;
    }
    .historias-clinicas-container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      justify-self: center;
      flex-wrap: wrap;
      padding-top: 40rem;
      .card {
          width: 30vw;
          margin: .5rem;
          width: 100%;
          height: 600px;
          textarea{
            resize: none;
          }
          .historiaClinica{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .turnoInfo, .datosFijos, .datos-dinamicos, .datos-dinamicos-buttones{
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              height: 100%;
              width: 100%;
            }
            .datosFijos{
              margin-top: 1rem;
              .number{
                width: 20%;
              }
            }
            .comentario{
              height: 7rem;
              width: 80%;
            }
          }
      }
    }
}  