<mat-icon (click)="fillFields()">workspaces</mat-icon>
<form [formGroup]="frmDatosPersonales">
  <div class="input-pair-container">
    <mat-form-field>
      <input matInput placeholder="nombre" formControlName="nombre" required />
      <!-- (blur)="updateErrorMessage(frmDatosPersonales.controls['nombre'])" -->
      @if (frmDatosPersonales.controls['nombre'].invalid) {
      <mat-error>{{ errrorCampoObligatorio }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="apellido"
        formControlName="apellido"
        required
      />
      <!-- (blur)="updateErrorMessage(apellido)" -->
      @if (frmDatosPersonales.controls['apellido'].invalid) {
      <mat-error>{{ errrorCampoObligatorio }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="input-pair-container">
    <mat-form-field>
      <input
        matInput
        placeholder="edad"
        formControlName="edad"
        type="number"
        required
      />
      @if (frmDatosPersonales.controls['edad'].dirty && frmDatosPersonales.controls['edad'].errors) {
        @if (frmDatosPersonales.controls['edad'].errors['required']) {
          <mat-error>
            <small>{{ errrorCampoObligatorio }}</small>
          </mat-error>
        }
        @if (frmDatosPersonales.controls['edad'].errors['min']) {
          <mat-error>
            <small>{{ errrorMin }}</small>
          </mat-error>
        }
        @if (frmDatosPersonales.controls['edad'].errors['max']) {
          <mat-error>
            <small>{{ errrorMax }}</small>
          </mat-error>
        }
      }
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="DNI"
        formControlName="DNI"
        type="number"
        required
      />
      <!-- (blur)="updateErrorMessage(DNI)" -->
      <!-- @if (frmDatosPersonales.controls['DNI'].invalid) {
        <mat-error>{{ errrorCampoObligatorio }}</mat-error>
      } -->
      @if (frmDatosPersonales.controls['DNI'].dirty && frmDatosPersonales.controls['DNI'].errors) {
        @if (frmDatosPersonales.controls['DNI'].errors['required']) {
          <mat-error>
            <small>
              {{ errrorCampoObligatorio }}
            </small>
          </mat-error>
        }
        @if (frmDatosPersonales.controls['DNI'].errors['pattern']) {
          <mat-error>
            <small>
              {{ errrorDNIFormat }}
            </small>
          </mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="input-pair-container">
    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="*******"
        formControlName="clave"
      />
      @if (frmDatosPersonales.controls['clave'].dirty && frmDatosPersonales.controls['clave'].errors) {
        @if (frmDatosPersonales.controls['clave'].errors['required']) {
          <mat-error><small>{{errrorCampoObligatorio}}</small></mat-error>
        }
        @if (frmDatosPersonales.controls['clave'].errors['minlength']) {
          <mat-error><small>{{errrorMinChar}}</small></mat-error>
        }
      }
    </mat-form-field>
    <button
      mat-icon-button
      matSuffix
      (click)="seePass($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      style="position: absolute"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="*******"
        formControlName="claveRepetida"
      />
      @if (frmDatosPersonales.controls['claveRepetida'].dirty && frmDatosPersonales.controls['claveRepetida'].errors) {
        @if (frmDatosPersonales.controls['claveRepetida'].errors['required']) {
          <mat-error><small>{{errrorCampoObligatorio}}</small></mat-error>
        }
        @if (frmDatosPersonales.controls['claveRepetida'].errors['minlength']) {
          <mat-error><small>{{errrorMinChar}}</small></mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div id="input-email" class="input-pair-container">
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email"/>
      <!-- (blur)="updateErrorMessage(email)" -->
      @if (frmDatosPersonales.controls['email'].dirty && frmDatosPersonales.controls['email'].errors) {
        @if (frmDatosPersonales.controls['email'].errors['required']) {
          <mat-error><small>{{errrorCampoObligatorio}}</small></mat-error>
        }
        @if (frmDatosPersonales.controls['email'].errors['email']) {
          <mat-error><small>{{errrorMailFormat}}</small></mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-button (click)="siguiente()">Siguiente</button>
  </div>
</form>
