div {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;

  mat-stepper {
    display: flex;
    form {
      display: flex;
      flex-direction: column;
      button {
        margin: 0.5rem 0;
      }
    }
  }

  #acceso-rapido-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1%;
    bottom: 1%;
    height: fit-content;
    button {
      background-color: transparent;
      width: 75px;
      height: 75px;
      img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }
    }
  }
}
