<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer #drawer class="sidenav" mode="side">
    <div>
      <h2>
        @if (auth.UsuarioEnSesion) {
          {{auth.UsuarioEnSesion.tipoUsuario}}
        }@else {
          Inivitado
        }
      </h2>
    </div>
    @if (auth.UsuarioEnSesion) {
      @switch (auth.UsuarioEnSesion.tipoUsuario) {

        @case ('especialista') {
          <div>
            <button mat-stroked-button (click)="manageMisTurnos()"> 
              Mis turnos
            </button>
          </div>
          <div>
            <button mat-stroked-button routerLinkActive="active" routerLink="/historia-clinica">
              Pacientes
            </button>
          </div>
        }
        @case ('admin') {
          <div>
            <button mat-stroked-button routerLinkActive="active" routerLink="/administrar-usuarios">
              Administrar usuarios
            </button>
          </div>
          <div>
            <button mat-stroked-button routerLinkActive="active" routerLink="/historia-clinica">
              Usuarios
            </button>
          </div>
          <div>
            <button mat-stroked-button (click)="manageMisTurnos()"> 
             Turnos de<br>la clinica 
            </button>
          </div>
          <div> 
            <button mat-stroked-button routerLinkActive="active" (click)="manageTurnos()"> Sacar turno </button>
          </div>
          <div>
            <button mat-stroked-button routerLinkActive="active" routerLink="/graficos">
              Graficos
            </button>
          </div>
        }
        @case ('paciente') {
        <div> 
          <button mat-stroked-button routerLinkActive="active" (click)="manageTurnos()"> Sacar turno </button>
        </div>
        <div>
          <button mat-stroked-button (click)="manageMisTurnos()"> 
           Mis turnos
          </button>
        </div>
        }
      }
      <div>
        <button mat-stroked-button (click)="logOut()">Salir</button>
      </div> 
      <div>
        <button mat-stroked-button routerLinkActive="active" routerLink="/perfil"> Perfil </button>
      </div>
    }@else {
      <div>
        <button mat-stroked-button routerLinkActive="active" routerLink="/registrarse">
          Registrar
        </button>
      </div>
      <div>
        <button mat-stroked-button routerLinkActive="active" routerLink="/login">
          Ingresar
        </button>
      </div>
    }
    
  </mat-drawer>
  
  <div class="sidenav-content">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    <div id="router-outlet">
      <router-outlet />
    </div>
  </div>
</mat-drawer-container>
