<div class="container">
    <h1 style="margin: 0;">Bienvenido</h1>
    <mat-card>
        <mat-card-header>
            <h2>
                Sobre nosotros
            </h2>
        </mat-card-header>

        <div>
            <img src="https://firebasestorage.googleapis.com/v0/b/lab4lunajaco.appspot.com/o/imagenes%2FLogo.png?alt=media&token=5b9f7fd8-038f-421b-8b29-3e40f9e31b69" width="450px" alt="">
        </div>
        <div>
            En ClínicaSalud Online, estamos dedicados a brindarte la mejor atención médica desde la comodidad de tu hogar. Nuestra plataforma digital está diseñada para ofrecer consultas médicas seguras, eficientes y personalizadas, accesibles desde cualquier lugar y en cualquier momento.
        </div>
        <div>
            ¿Quiénes Somos? Somos un equipo de profesionales de la salud comprometidos con tu bienestar. Contamos con médicos especialistas en diversas áreas, desde medicina general hasta especialistas en campos específicos como cardiología, dermatología, pediatría y más. Todos nuestros profesionales están altamente calificados y certificados para ofrecerte la mejor atención posible.
        </div>
        
        Como empezar
        <ol>
            <li>Regístrate: Crea tu cuenta en nuestra plataforma.</li>
            <li>Elige tu Médico: Selecciona el especialista que necesitas y programa tu cita.</li>Espere a que el medico confirme el turno.
            <li>Dejanos una reseña de como fue la atencion</li>
            <li>
                En ClínicaSalud Online, tu salud es nuestra prioridad. Estamos aquí para acompañarte y brindarte el cuidado que mereces, sin importar dónde estés. ¡Comienza hoy mismo y experimenta una nueva forma de cuidar tu salud!
            </li>
        </ol>
    </mat-card>
</div>
