<div class="container">
  <div id="spinner" *ngIf="cargando">
    <mat-spinner></mat-spinner>
  </div>
  <form preventDefault>
    <mat-form-field class="input-autocomplete">
      <mat-label>especialidad o nombre</mat-label>
      <input
        type="text"
        placeholder="Escriba una especialidad o especialista"
        aria-label="text"
        matInput
        [formControl]="frmFiltro"
      />
    </mat-form-field>
  </form>

  <h2>Turnos</h2>
  <table
    mat-table
    [dataSource]="filteredOptions"
    class="mat-elevation-z8 demo-table tabla"
  >
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef>especialidad</th>
      <td mat-cell *matCellDef="let element">{{ element.especialidad }}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha | date }}</td>
    </ng-container>
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef>horario</th>
      <td mat-cell *matCellDef="let element">{{ element.horario }}</td>
    </ng-container>
    <ng-container matColumnDef="medico">
      <th mat-header-cell *matHeaderCellDef>medico</th>
      <td mat-cell *matCellDef="let element">{{ element.especialista }}</td>
    </ng-container>
    <ng-container matColumnDef="paciente">
      <th mat-header-cell *matHeaderCellDef>paciente</th>
      <td mat-cell *matCellDef="let element">{{ element.paciente }}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>estado</th>
      <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsTurnoPendientes"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsTurnoPendientes" 
    (click)="rowClicked(row)" [ngClass]="row.id == turno?.id?'selected':''" appCursiva appBold></tr>
    <!--   -->
  </table>
  
  <div class="turno-seleccionado">
    @if (turno) {
      <app-turno-seleccionado [turno]="turno" [usuario]="persona" (onTurnoActualizado)="cargarTurnos()"></app-turno-seleccionado>
      @if(encuesta){
        <app-ver-resenia [persona]="persona" [turnoInput]="turno" [encuestaInput]="encuesta"></app-ver-resenia>
      }
      @if (turno.estado == 'finalizado' && !encuesta) {
        <app-ver-resenia [persona]="persona" [turnoInput]="turno"></app-ver-resenia>  
      }
    }
  </div>

</div>